{% extends 'base_layout2.html' %}
{% load static %}
{% block content %}
<!-- the loop below will probably not be needed in the end as we may end up not using names displayed  
 {% for species in species %}
    <h4><a href = "#"> {{ species.name }} </a> </h4>
 {% endfor %}
-->
<body>
 <h1 class = "welcome"> Hi {{ user.username }}! 
</h1>
<div> <h1> You can enter your data here. <h1>
</div> 
<div>
   Photo is optional.
</div>
   <h1>
   <form class = "site-form" id = "enterdataform" method ="post" data-counties-url = "{% url 'enterdata:ajax_load_counties' %}" enctype= "multipart/form-data">
      {% csrf_token %} <!--security measure token-->
     {% for field in form %}
         <div class = "enterdata-field-wrapper">
            {{field.label_tag }}
             <span class = "fieldsinform">
            {{field }}
             </span>
         </div>
         {% endfor %}
      {% comment %} <input type = "submit" id ="submit-button" name="submit-button" value= "Submit my data" href="submitted.html"/> {% endcomment %}
      <button type = "submit" id ="submit-button" name="submit-button" href="submitted.html" style = "width: 300px; margin: 2rem 0;"> Submit my data </button>
   </form> 
   </h1>

<h1 color = darkblue> 
<a href={% url 'displaydata:displaydata' %}>Show me some data! </a>
</h1>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/filter_enterdata.js' %}"></script> 

{% endblock %}