{% extends 'base_layout.html' %}

{% block content %}
<header> 
{% if user.is_authenticated %}
<h1> Welcome to Ecology Survey, {{ user.username }}! <h1>
{% else %}
<h1> Welcome to Ecology Survey! <h1>
{%endif%}
</header>

<div class = "welcome-message">
    <h2>You can collect real plant or animal data and get to see the data on some cool graphs! 
    </h2>

    </div>
    <div class = "padding"> 
    <h2>
    What would you like to do now?
    </h2>
</div>
<div>
    <button><a href = "{% url 'enterdata:enterdata' %}"> Add some data! </a></button>
    <button><a href = "{% url 'displaydata:displaydata' %}"> Show me some data! </a></button>
</div>

{% endblock %}