{% extends 'base_layout2.html' %}
{% load static %}
{% block content %}

<head>
 <title> See some data! </title>

 </head>
 <h1> What data would you like to see today, {{ user.username }}?</h1>
 <div>
    You can pick muiltiple species, countries and counties.
   </div>

   <p>
    In this version of the app, for viewing change in species numbers over time, it is unadvisable to pick more than 9 species at a time as the colours representing each species will become confusing.
   </p>
 <div>
 </div>
 <div class = "display-data" style = "padding-bottom: 2rem;">
   <form class = "site-form" id = "displaydataform" data-counties-url = "{% url 'displaydata:ajax_load_counties' %}" action = "{% url 'displaydata:displaydata' %}" method ="post" enctype= "multipart/form-data">
      {% csrf_token %} <!--security measure token-->
      {% for field in form %}
         <div class = "displaydata-field-wrapper">
            {{field.label_tag }}
            <span class = "formfield">
            {{field }}
            </span>
         </div>
         {% endfor %}
   </form>

      <button type = "button" id = "bargraph" name="bargraph"> Show me overall species numbers</button> 
      <button type = "button" id = "linegraph" name="linegraph"> Show me change in species numbers over time </button> 
      <a href = {% url 'displaydata:export' %}><button> Download data </button></a>
</div>
</h1>
   {% comment %} <div id="d3-container" class = "d3-container" style = "padding-bottom: 3rem;">
   </div> {% endcomment %}
   <div id ="canvas" class ="canvas"> 
   </div> 

<script src="{% static 'js/filter.js' %}"></script> 
<script src="{% static 'js/bargraph.js' %}">  </script>
<script src="{% static 'js/linegraph.js' %}"> </script>
{% endblock %}